<!DOCTYPE html>
<html ng-app="rrdbrowser">
<head>
<title>rrdbrowser</title>
<link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.js"></script>
<script src="rrdbrowser.js"></script>
</head>
<body ng-controller="MyController" style="font-family: ubuntu, sans-serif; margin: 0; padding: 0">
 <div>
  <button class="btn btn-success" ng-click="addGraph()">New Graph</button>
 </div>
 <div ng-controller="GraphController" ng-repeat="graph in graphList">
  <form class="form-inline">
   <select class="form-control" ng-model="selectedHost" ng-options="h for h in allHosts"></select>
   <select class="form-control" ng-model="selectedPlugin" ng-options="p for p in allPlugins"></select>
   <select class="form-control" ng-model="selectedPluginInstance" ng-options="pi for pi in allPluginInstances"></select>
   <select class="form-control" ng-model="selectedType" ng-options="t for t in allTypes"></select>
   <select class="form-control" ng-model="selectedTypeInstance" ng-options="ti for ti in allTypeInstances"></select>
  </form>
  <img ng-src="{{getImgSrc(graphList.length)}}"></img>
  <!--<img ng-src="rrd?p={{selectedPlugin}}&pi={{selectedPluginInstance}}&t={{selectedType}}&ti={{selectedTypeInstance}}&w={{getTheWidth()}}&h={{getTheHeight()}}"></img>-->
 </div>
</body>
</html>
